body {
    background-color: rgb(43, 42, 42), 217, 217);
}      

h1 {
    color: black;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    /* display: inline-block; */
    float: left;
    margin: 1.6%;

}

.selected {

    background: orange;
    
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

#banner {
    /* margin: auto; */
    background-color: gray;
    height: 40px;
    text-align: center;
}



/* spans {
    color: white;

} */